<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biolife - Payment</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/main-color03-green.css">
    <link rel="stylesheet" href="../public/assets/css/styleShare.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
</head>
<body class="biolife-body">
    <div class="share-btn-container">
        <a href="#" class="facebook-btn">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="#" class="twitter-btn">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="#" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
    <!-- HEADER -->
    <header id="header" class="header-area style-01 layout-03">
        <div class="header-top bg-main hidden-xs">
            <div class="container">
                <div class="top-bar left">
                    <ul class="horizontal-menu">
                        <% if (User) { %>
                            <li style="color: white"> Welcome, <%= User.name %> </li>
                        <% } %>
                    </ul>
                </div>
                <div class="top-bar right">
                    <ul class="horizontal-menu">
                    <% if (User) { %>
                        <li><a href="/profile" class="login-link">
                        <% if (User.image) { %> 
                            <img = src="<%= User.image%>" class="ProfileIcon"><%= User.name%></a></li>
                        <% } else { %>
                            <i class="biolife-icon icon-login"></i><%= User.name%></a></li>
                        <% }} %>    
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-middle biolife-sticky-object ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                        <a href="/" class="biolife-logo"><img src="assets/images/organic-3-green.png" alt="biolife logo" width="135" height="36"></a>
                    </div>
                    <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                        <div class="primary-menu">
                            <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                                <li class="menu-item"><a href="/">Home</a></li>
                                <li class="menu-item"><a href="/product-page">Product</a></li>
                                <li class="menu-item"><a href="/contactUs">Contact</a></li>
                                <% if (!User) { %>
                                    <li class="menu-item"><a href="/login">Login</a></li>
                                <% } else { %>
                                    <li class="menu-item"><a href="/history">History</a></li>
                                    <li class="menu-item"><a href="/logout">Logout</a></li>
                                <% } %>    
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                        <div class="biolife-cart-info">
                            <div class="mobile-search">
                                <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
                                <div class="mobile-search-content">
                                    <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
                                    <input type="text" class="input-text" id="SearchMobile" placeholder="Search here...">
                                    <button class="btn-submit" onclick="MobileSearch()">go</button>
                                </div>
                            </div>
                            <% if(User) { %>
                            <div class="wishlist-block hidden-sm hidden-xs">
                                <a href="/wishlist" class="link-to">
                                    <span class="icon-qty-combine">
                                        <i class="icon-heart-bold biolife-icon"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="minicart-block">
                                <div class="minicart-contain">
                                    <a href="/shopcart" class="link-to">
                                        <span class="icon-qty-combine">
                                            <i class="icon-cart-mini biolife-icon"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <% } else { %>
                                <div class="wishlist-block hidden-sm hidden-xs">
                                    <a href="/wishlist" class="link-to">
                                        <span class="icon-qty-combine">
                                            <i class="icon-heart-bold biolife-icon"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="minicart-block">
                                    <div class="minicart-contain">
                                        <a href="/shopcart" class="link-to">
                                            <span class="icon-qty-combine">
                                                <i class="icon-cart-mini biolife-icon"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                            <div class="mobile-menu-toggle">
                                <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="vertical-menu vertical-category-block">
                            <div class="block-title">
                                <span class="menu-icon">
                                    <span class="line-1"></span>
                                    <span class="line-2"></span>
                                    <span class="line-3"></span>
                                </span>
                                <span class="menu-title">Categories</span>
                                <span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                            <div class="wrap-menu">
                                <ul class="menu clone-main-menu">
                                    <% Kategori.forEach(ca=> { %>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="/category/<%= ca.Id %>" class="menu-name" data-title="<%=ca.Name%>"><i class="biolife-icon <%=ca.Icon%>"></i><%= ca.Name %></a>
                                    </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 padding-top-2px">
                        <div class="header-search-bar layout-01">
                            <input type="text" class="input-text" id="cari" placeholder="Search here...">
                            <button class="btn-submit" onclick="search()"><i class="biolife-icon icon-search"></i></button>
                        </div>
                        <div class="live-info">
                            <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">(+900) 123 456 7891</b></p>
                            <p class="working-time">Mon-Fri: 8:30am-7:30pm; Sat-Sun: 9:30am-4:30pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">Payment</h1>
    </div>

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="/" class="permal-link">Home</a></li>
                <li class="nav-item"><span class="current-page">Payment</span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain checkout">

        <!-- Main content -->
        <div id="main-content" class="main-content">
            <div class="container sm-margin-top-37px">
                <div class="row">

                    <!--checkout progress box-->
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <div class="checkout-progress-wrap">
                            <ul class="steps">
                                <li class="step 1st">
                                    
                                        <h3 class="title-box" style="font-size: 30px;">Payment</h3>
                                        <% if (message) { %>
                                            <div class="alert alert-danger">
                                                <strong><%= message %></strong>
                                            </div>
                                        <% } %>
                                        <div class="box-content">
                                            <div class="signin-container">
                                                <form action="#" name="frm-login" method="post">
                                                    <p class="form-row">
                                                        <label for="input_email">Email Address</label>
                                                        <input type="email" name="email" id="input_email" value="<%=User.email%>" disabled>
                                                        <!-- <button type="submit" name="btn-sbmt" class="btn">Continue As Guest</button> -->
                                                    </p>
                                                    <p class="form-row">
                                                        <label for="fid-name">Username</label>
                                                        <input type="text" id="fid-name" name="name" value="<%=User.name%>" disabled>
                                                    </p>
                                                    <p class="form-row">
                                                        <% if (User.phone == "") { %>
                                                            <label for="fid-phone">Phone Number:</label><input type="number" id="fid-phone" name="phone" class="txt-input"value="">
                                                        <% } else { %>
                                                            <label for="fid-phone">Phone Number:</label>
                                                            <input type="number" id="fid-phone" name="phone" class="txt-input"value="<%=User.phone%>" disabled>
                                                        <% } %> 
                                                    </p>
                                                    <p class="form-row">
                                                        <% if (User.phone == "") { %>
                                                            <label for="fid-address">Address:</label><input type="text" id="fid-address" name="address" class="txt-input" value="">
                                                        <% } else { %>
                                                            <label for="fid-address">Address:</label><input 
                                                            type="text" id="fid-address" name="address" class="txt-input" value="<%=User.address%>" disabled>
                                                        <% } %> 
                                                    </p>
                                                    <p class="form-row">
                                                        <label for="fid-card">Card Number / Code Refferal</label>
                                                        <input type="text" id="fid-card" name="cardnum" value="">
                                                    </p>
                                                    <p class="form-row">
                                                        <label>Pilih Metode Pembayaran</label>
                                                        <table border=0 cellpadding="10">
                                                            <tr>
                                                                <th>
                                                                    <label for="pm1">
                                                                        <input type="radio" value="BNI"name="paymethod" id="pm1"> <img src="./assets/images/Card/BNI.png" width="60px" height="20px">
                                                                    </label> 
                                                                </th>
                                                                
                                                                <th>
                                                                    <label for="pm2">
                                                                        <input type="radio" value="BCA" name="paymethod" id="pm2"><img src="./assets/images/Card/BCA.png" width="60px" height="20px" style="margin-right:5px";>
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm3">
                                                                        <input type="radio" value="BRI" name="paymethod"id="pm3"><img src="./assets/images/Card/BRI.png" width="60px" height="25px">
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm4">
                                                                        <input type="radio" value="bankbjb" name="paymethod" id="pm4"><img src="./assets/images/Card/bankbjb.png" width="60px" height="30px">
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm5">
                                                                        <input type="radio" value="bankdki" name="paymethod"id="pm5"><img src="./assets/images/Card/bankdki.png" width="60px" height="25px">
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm6">   
                                                                        <input type="radio" value="bankbb" name="paymethod" id="pm6"><img src="./assets/images/Card/bankbb.png" width="60px" height="20px">
                                                                    </label>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    <label for="pm7">    
                                                                        <input type="radio" value="VISA" name="paymethod" id="pm7"><img src="./assets/images/Card/VISA.jpg" width="60px" height="30px">
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm8">   
                                                                        <input type="radio" value="MasterCard" name="paymethod" id="pm8"><img src="./assets/images/Card/MasterCard.jpg" width="60px" height="30px">
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm9">    
                                                                        <input type="radio" value="Paypal" name="paymethod" id="pm9"><img src="./assets/images/Card/Paypal.jpg" width="60px" height="20px">
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm10">    
                                                                        <input type="radio" value="Alfamart" name="paymethod" id="pm10"><img src="./assets/images/Card/Alfamart.jpg" width="70px" height="50px">
                                                                    </label>
                                                                </th>
                                                                <th>
                                                                    <label for="pm11">    
                                                                        <input type="radio" value="indomaret" name="paymethod" id="pm11"><img src="./assets/images/Card/indomaret.png" width="60px" height="20px">
                                                                    </label>    
                                                                </th>
                                                                <th>
                                                                    <label for="pm12">   
                                                                        <input type="radio" value="gopay" name="paymethod" id="pm12"><img src="./assets/images/Card/gopay.jpg" width="65px" height="40px">
                                                                    </label> 
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </p>
                                                    <a href="/codeReferral" class="btn btn-submit btn-bold">Get Code Refferal</a>
                                                </form>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Order Summary-->
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 sm-padding-top-48px sm-margin-bottom-0 xs-margin-bottom-15px">
                        <div class="order-summary sm-margin-bottom-80px">
                            <div class="title-block">
                                <h3 class="title">Order Summary</h3>
                                <a href="/shopcart" class="link-forward">Edit cart</a>
                            </div>
                            <div class="cart-list-box short-type">
                                <span id="totalitem" hidden><%= keranjang.length%></span>
                                <span class="number" id="totalitem"><%= keranjang.length%> items</span>
                                <ul class="cart-list">
                                    <% keranjang.forEach(ker=> { %>
                                    <li class="cart-elem">
                                        <div class="cart-item">
                                            <div class="product-thumb">
                                                <p class="prd-id" id="prd-productID" hidden><%=ker.ProductProductId%></p>
                                                <p class="urs-id" hidden><%=ker.UserId%></p>
                                                <p class="prd-price" id="prd-productPrice" hidden><%= ker.Product.price %></p>
                                                <a class="prd-thumb" href="/product-page/detail/<%=ker.ProductProductId %>">
                                                    <figure><img src="<%=ker.Product.image %>" width="113" height="113" alt="shop-cart" ></figure>
                                                </a>
                                            </div>
                                            <span class="get-quantity" hidden><%=ker.Qty %></span>
                                            <div class="info">
                                                
                                                <span class="txt-quantity"><%=ker.Qty %> items</span>
                                                <a href="/product-page/detail/<%=ker.ProductProductId %>" class="pr-name"><%=ker.Product.name %></a>
                                            </div>
                                            <div class="price price-contain">
                                                <ins><span class="price-amount"><span class="currencySymbol">IDR </span><%= ker.Total%></span></ins>
                                            </div>
                                        </div>
                                    </li>
                                    <%})%>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Total Price : </b>
                                            <% i = 0%>
                                            <% j = 0%>
                                            <% keranjang.forEach(ker=> { %>
                                                <% i = i + ker.Total %>
                                                <% j += 1%>
                                            <%})%>
                                            <span id="getOrderID" hidden><%= j %></span>
                                            <span id="totalprice" hidden><%= i %></span>
                                            <span class="stt-price">IDR <%= i %></span>
                                        </div>
                                    </li>
                                </ul>
                                <a onclick=PaymentSuccess() class="btn btn-submit btn-bold btn-block">Get your 
                                    Order</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer id="footer" class="footer layout-03">
        <div class="footer-content background-footer-03">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-9">
                        <section class="footer-item">
                            <a href="/" class="logo footer-logo"><img src="assets/images/organic-3-green.png" alt="biolife logo" width="135" height="36"></a>
                            <div class="footer-phone-info">
                                <i class="biolife-icon icon-head-phone"></i>
                                <p class="r-info">
                                    <span>Got Questions ?</span>
                                    <span>(700)  9001-1909  (900) 689 -66</span>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                            <h3 class="section-title">Transport Offices</h3>
                            <div class="contact-info-block footer-layout xs-padding-top-10px">
                                <ul class="contact-lines">
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-location"></i>
                                            <b class="desc">7563 St. Vicent Place, Glasgow, Greater Newyork NH7689, UK </b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-phone"></i>
                                            <b class="desc">Phone: (+067) 234 789  (+068) 222 888</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-letter"></i>
                                            <b class="desc">Email:  contact@company.com</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-clock"></i>
                                            <b class="desc">Hours: 7 Days a week from 10:00 am</b>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="biolife-social inline">
                                <ul class="socials">
                                    <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--Footer For Mobile-->
    <div class="mobile-footer">
        <div class="mobile-footer-inner">
            <div class="mobile-block block-menu-main">
                <a class="menu-bar menu-toggle btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                    <span class="fa fa-bars"></span>
                    <span class="text">Menu</span>
                </a>
            </div>
            <div class="mobile-block block-sidebar">
                <a class="menu-bar filter-toggle btn-toggle" data-object="open-mobile-filter" href="javascript:void(0)">
                    <i class="fa fa-sliders" aria-hidden="true"></i>
                    <span class="text">Sidebar</span>
                </a>
            </div>
            <div class="mobile-block block-minicart">
                <a class="link-to-cart" href="#">
                    <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                    <span class="text">Cart</span>
                </a>
            </div>
            <div class="mobile-block block-global">
                <a class="menu-bar myaccount-toggle btn-toggle" data-object="global-panel-opened" href="javascript:void(0)">
                    <span class="fa fa-globe"></span>
                    <span class="text">Global</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mobile-block-global">
        <div class="biolife-mobile-panels">
            <span class="biolife-current-panel-title">Global</span>
            <a class="biolife-close-btn" data-object="global-panel-opened" href="#">&times;</a>
        </div>
        <div class="block-global-contain">
            <div class="glb-item my-account">
                <b class="title">My Account</b>
                <ul class="list">
                    <li class="list-item"><a href="/login">Login/register</a></li>
                    <%if(User) { %>
                    <li class="list-item"><a href="/wishlist">Wishlist</a></li>
                    <li class="list-item"><a href="/payment">Checkout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <!--Quickview Popup-->
    <div id="biolife-quickview-block" class="biolife-quickview-block">
        <div class="quickview-container">
            <a href="#" class="btn-close-quickview" data-object="open-quickview-block"><span class="biolife-icon icon-close-menu"></span></a>
            <div class="biolife-quickview-inner">
                <div class="media">
                    <ul class="biolife-carousel quickview-for" data-slick='{"arrows":false,"dots":false,"slidesMargin":30,"slidesToShow":1,"slidesToScroll":1,"fade":true,"asNavFor":".quickview-nav"}'>
                        <li><img src="assets/images/details-product/detail_01.jpg" alt="" width="500" height="500"></li>
                        <li><img src="assets/images/details-product/detail_02.jpg" alt="" width="500" height="500"></li>
                        <li><img src="assets/images/details-product/detail_03.jpg" alt="" width="500" height="500"></li>
                        <li><img src="assets/images/details-product/detail_04.jpg" alt="" width="500" height="500"></li>
                        <li><img src="assets/images/details-product/detail_05.jpg" alt="" width="500" height="500"></li>
                        <li><img src="assets/images/details-product/detail_06.jpg" alt="" width="500" height="500"></li>
                        <li><img src="assets/images/details-product/detail_07.jpg" alt="" width="500" height="500"></li>
                    </ul>
                    <ul class="biolife-carousel quickview-nav" data-slick='{"arrows":true,"dots":false,"centerMode":false,"focusOnSelect":true,"slidesMargin":10,"slidesToShow":3,"slidesToScroll":1,"asNavFor":".quickview-for"}'>
                        <li><img src="assets/images/details-product/thumb_01.jpg" alt="" width="88" height="88"></li>
                        <li><img src="assets/images/details-product/thumb_02.jpg" alt="" width="88" height="88"></li>
                        <li><img src="assets/images/details-product/thumb_03.jpg" alt="" width="88" height="88"></li>
                        <li><img src="assets/images/details-product/thumb_04.jpg" alt="" width="88" height="88"></li>
                        <li><img src="assets/images/details-product/thumb_05.jpg" alt="" width="88" height="88"></li>
                        <li><img src="assets/images/details-product/thumb_06.jpg" alt="" width="88" height="88"></li>
                        <li><img src="assets/images/details-product/thumb_07.jpg" alt="" width="88" height="88"></li>
                    </ul>
                </div>
                <div class="product-attribute">
                    <h4 class="title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                    <div class="rating">
                        <p class="star-rating"><span class="width-80percent"></span></p>
                    </div>

                    <div class="price price-contain">
                        <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                        <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                    </div>
                    <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel maximus lacus. Duis ut mauris eget justo dictum tempus sed vel tellus.</p>
                    <div class="from-cart">
                        <div class="qty-input">
                            <input type="text" name="qty12554" value="1" data-max_value="20" data-min_value="1" data-step="1">
                            <a href="#" class="qty-btn btn-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                            <a href="#" class="qty-btn btn-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn add-to-cart-btn btn-bold">add to cart</a>
                        </div>
                    </div>

                    <div class="product-meta">
                        <div class="product-atts">
                            <div class="product-atts-item">
                                <b class="meta-title">Categories:</b>
                                <ul class="meta-list">
                                    <li><a href="#" class="meta-link">Milk & Cream</a></li>
                                    <li><a href="#" class="meta-link">Fresh Meat</a></li>
                                    <li><a href="#" class="meta-link">Fresh Fruit</a></li>
                                </ul>
                            </div>
                            <div class="product-atts-item">
                                <b class="meta-title">Tags:</b>
                                <ul class="meta-list">
                                    <li><a href="#" class="meta-link">food theme</a></li>
                                    <li><a href="#" class="meta-link">organic food</a></li>
                                    <li><a href="#" class="meta-link">organic theme</a></li>
                                </ul>
                            </div>
                            <div class="product-atts-item">
                                <b class="meta-title">Brand:</b>
                                <ul class="meta-list">
                                    <li><a href="#" class="meta-link">Fresh Fruit</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="sku">SKU: N/A</span>
                        <div class="biolife-social inline add-title">
                            <span class="fr-title">Share:</span>
                            <ul class="socials">
                                <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll Top Button -->
    <a class="btn-scroll-top"><i class="biolife-icon icon-left-arrow"></i></a>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.nicescroll.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/biolife.framework.js"></script>
    <script src="assets/js/functions.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/assets/js/shareSosmed.js"></script>
    <script>
        //Fungsi Search untuk Web
        function search () {
            let cari = document.getElementById("cari").value;
            axios({
                method: 'get',
                url: '/search/' + cari,
            })
            .then((result) => {
                window.location = "/search/" + cari;
            }).catch((err) => {
                window.location = "/";
            })
        }
        //Fungsi Search untuk mobile
        function MobileSearch() {
            let SearchM = document.getElementById("SearchMobile").value;
            axios({
                method: 'get',
                url: '/search/' + SearchM,
            })
            .then((result) => {
                window.location = "/search/" + SearchM;
            }).catch((err) => {
                window.location = "/";
            })
        }
        //Fungsi Get Payment
        function PaymentSuccess(){
            var orderId = Date.now()
            var TotalProduct = document.getElementById("totalitem").innerHTML
            var UserID = document.getElementsByClassName("urs-id")
            var ProductId = document.getElementsByClassName("prd-id")
            var Total = document.getElementById("totalprice").innerHTML
            var code = document.getElementById("fid-card").value
            var method = ""
            var phone = document.getElementById("fid-phone").value
            var address = document.getElementById("fid-address").value
            var qty = document.getElementsByClassName("get-quantity")

            var ele = document.getElementsByName('paymethod');
            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked)
                    method += ele[i].value;
            }

            var names = [];
            for(var i = 0; i < ProductId.length; i++) {
                temp = {
                    totalProduct : TotalProduct,
                    OrderId : orderId,
                    Subtotal : Total,
                    Code : code,
                    Method : method,
                    Phone : phone,
                    Address : address,
                    UserId : UserID[i].innerHTML,
                    ProductProductId : ProductId[i].innerHTML,
                    Qty : qty[i].innerHTML,
                };
                names.push(temp)
            }
            axios({
                method: 'post',
                url: '/payment/success',
                data : names
            })
            .then((result) => {
                alert("Success!")
                window.location = "/"
            }).catch((err) => {
                alert("ERROR")
            })
        }      
    </script>
</body>

</html>